body{
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
        margin: 0%;
        padding: 0%;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
* {
    color: rgb(200, 214, 149) ;
}

.container {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}




.homepage img{
    float: left;
    margin-left: 180px;
    margin-right: 50px;
}

.homepage h1{
    margin-left: 100px;
    font-size: 80px;
}

.homepage p{
    margin-left: 300px;
        font-size: 18px;
        color: rgb(255, 255, 255);
}





.aboutme img{
    float: left;
    margin-left: 70px;
    margin-right: 70px;
}

.aboutme h1{
    margin-left: 670px;
    font-size: 80px;
    text-align: justify;
}

.aboutme p{
    margin-left: 300px;
    margin-right: 200px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.aboutme-logo{
    float: left;
    margin-left: 300px;
}





.gallery h1{
    margin-left: 500px;
    font-size: 80px;
    text-align: justify;
}

.gallery p{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue;
}

.gallery-images{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}




.pen-on-paper{
    font-size: 80px;
    text-align: center
}

.pen-drawings{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}

.pen-row-one{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 70px;
}

.pen-drawings-two{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}

.pen-row-two{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 120px;
}





.digitalart h1{
    font-size: 80px;
    text-align: center
}

.digitalart p{
    display: grid;
    font-size: 13px;
    margin-left: 70px;
}


.dig-drawings{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}

.dig-row-one{
    display: flex;
    font-size: 20px;
   justify-content: space-between;
}


.dig-row-two{
    display: flex;
   justify-content: space-between;
    font-size: 20px;

}





.oil-acrylics{
    font-size: 80px;
    text-align: center
}


.can-drawings{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.can-row-one{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 230px;
    margin-right: 210px;
}

.morecoming{
    font-size: 50px;
    text-align: center;
}







.breakingbad{
    float: left;
    margin-left: 70px;
    margin-right: 70px;
    width: 39%;
    height: auto;
}

.breakingbad2022{
        float: left;
        margin-left: 40px;
    font-size: 50px;
        text-align: center;
}

.bb-text{
    float: left;
    margin-right: 26px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}

.bb-text2{
    float: right;
    margin-right: 70px;
    margin-left: 26px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}

.bb-text3{
    float: left;
    margin-left: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.purchaseoriginal{
    float: left;
    margin-left: 730px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}

.purchaseprint{
    float: right;
    margin-right: 110px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}






@media only screen and (max-width: 414px){
    
    .container {
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
    }

    .homepage img{
        float: left;
        margin-left: 30px;
        margin-right: 10px;
        width: 20%;
        height: auto;
    }

    .homepage h1{
        font-size: 38px;

    }

    .homepage p{
        margin-left: 50px;
            font-size: 14px;
            color: rgb(255, 255, 255);
    }




    .breakingbad{
        margin-left: 20px;
        margin-right: 20px;
        width: 60%;
        height: auto;
    }
    .breakingbad2022{
        float: left;
        margin-left: 70px;
        font-size: 30px;
        text-align: center;
}




}


